{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>
    <link rel="stylesheet" href="/static/css/admin.css">
    
</head>
<body style="background-image: url('{% static "images/chome2.jpg" %}')">
    <nav id="navbar">
        <div id="logo">
            <img src="/static/images/logo.png" alt="GOODSWAY.com">
        </div>
        <ul>
            <li class="item"><a href="#services-container">Where there is a way there is Goodsway.</a></li>
            <li class="item"><a href="#home"><h1>ADMIN VIEW PAGE</h1></a></li>
            
        </ul>

    </nav>
    
    <div class="containe">
        <a href="{% url 'rdriver' %}"><button class="btn btn1">register driver</button></a>
        <a href="{% url 'rtruck' %}"><button class="btn btn2">register truck</button></a>
        <a href="{% url 'feedback' %}"><button class="btn btn3">See Feedbacks</button></a>
    </div>
    
</body>
</html>