{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>orders history</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Truck Class</th>
                <th scope="col">Truck Type</th>
                <th scope="col">Truck Number</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders  %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{order.truckc}} </td>
            <td>{{order.truckt}}</td>
            <td>{{order.truckn}}</td>
        </tr>
    
        {% endfor %}
        </tbody>
      </table>
</body>

</html>