{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>view orders</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">username</th>
                <th scope="col">driver name</th>
                <th scope="col">rating</th>
            
            </tr>
        </thead>
        <tbody>
        {% for item in rating  %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.username}}</td>
            <td>{{item.dname}}</td>
            <td>{{item.rating}}</td>
    
        </tr>
        {% endfor %}
        </tbody>
      </table>
</body>

</html>